.container {
    position: relative;
    width: 10rem;
    height: 5rem;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container:before {
    content: "";
    position: absolute;
    top: -3.0rem;
    left: 1rem;
    right: 1rem;
    border-bottom: 3rem solid #ccc;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 5rem;
}

.QueryContent {
    margin: 0.2rem auto;

    max-width: 120rem;
    background-color: white;

    border-style: solid;
    border-radius: 1rem;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}